# The fastest path from speed to production with the Paradise team

This contains everything you need to run your app locally.

View your app in paradise AI: https://paradise-solutions.com/

## The application was created by engineer Muhammad Yahya
